<a href="https://colab.research.google.com/github/joseluisech/altura_promedio/blob/main/altura_promedio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [314]:
# Importar Datos

from google.colab import drive
drive.mount('/content/drive')

# Importar PANDAS

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [315]:
# Importar EXCEL df = pd.read.excel
# Importar CSV df= pd.read.csv()

df = pd.read_csv('/content/sample_data/athleteEventsNoPersonal.csv')
df.head(3)

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,21.0,185.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,25.0,185.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN

In [316]:
 # a. ¿Cuántas filas hay? 40,616

 # b. ¿Cuántas columnas hay? 12

 df.shape

(40616, 12)

In [317]:
#     c. ¿A qué columnas le faltan datos? (¿Por qué creen que hay muchos valores nulos en la columna Medals (medallas)?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [318]:
# Analizamos los valores nulos en el dataframe
df.isna().sum()

ID            0
Age        1473
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [319]:
# ¿Por qué creen que hay muchos valores nulos en la columna Medals (medallas)
# Se debe a que solo hay 3 medallas para los ganadores. Los que no tienen data, no recibieron medalla.
df['Medal'].value_counts()

Gold      2009
Bronze    1994
Silver    1914
Name: Medal, dtype: int64

In [320]:
df['Age'].value_counts()

23.0    3286
24.0    3173
22.0    3112
25.0    2920
21.0    2846
        ...
67.0       3
69.0       3
11.0       3
73.0       2
68.0       1
Name: Age, Length: 64, dtype: int64

In [321]:
#Llenamos los vacios con la edad mediana de todos los participantes
age_median = df['Age'].median()
df['Age'].fillna(age_median, inplace=True)
df.isna().sum()

ID            0
Age           0
Height     9001
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [322]:
# Corregimos el tipo de data para que sea entero y no flotante.
df['Age'] = df['Age'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     40616 non-null  int64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 3.7+ MB

In [323]:
df['Height'].value_counts()

180.0    1946
170.0    1735
178.0    1545
175.0    1493
168.0    1284
         ...
214.0       2
221.0       1
219.0       1
212.0       1
220.0       1
Name: Height, Length: 81, dtype: int64

In [324]:
#  d. ¿Cuántas entradas corresponden a la ciudad de Londres?
# London = 3370
entradas_london = len(df[df['City'] == 'London'])
print(f'Corresponden {entradas_london} de entradas a la ciudad de Londres')

Corresponden 3370 de entradas a la ciudad de Londres

In [325]:
  #   e. ¿Cuántos años tiene el atleta más joven en nuestros datos de muestra?  Pista: usen min()
  # Tiene 11 anos

edad_minima = df['Age'].min()
print(f'{edad_minima} es la edad del atleta mas joven')

11 es la edad del atleta mas joven

In [326]:
# 2. Creen filtros para encontrar:

    # a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?

# Creamos el filtro para los que participaron en el deporte "Tug-Of-War"
filtro_tug_of_war = df['Sport']=='Tug-Of-War'
# Creamos el filtro para los que pertenecian en el equipo "Sweden"
filtro_sweden = df['Team']=='Sweden'
# Loqueamos ambos filtros
dfnew = df.loc[filtro_tug_of_war & filtro_sweden, :]
# Verificamos los filtros y la tabla
dfnew

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
10023,34205,22,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
12681,43105,23,NaN,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze
13015,44087,29,182.0,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze
16250,55169,23,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
19048,64266,21,NaN,Sweden,SWE,1908 Summer,1908,Summer,London,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN
20550,68647,26,190.0,Sweden,SWE,1906 Summer,1906,Summer,Athina,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Bronze

In [327]:
    # a. ¿Cuántos atletas que participaron en el deporte "Tug-Of-War" (tira y afloja) pertenecían en el equipo “Sweden” (sueco) en el conjunto de datos de muestra?
    # Solo 6 atletas del equipo "Sweden" participaron en el deporte "Tug-Of-War"

In [328]:
 #    b. ¿Cuántas medallas de oro se le entregaron a los atletas que tenían más de 40 años?

# Creamos el filtro para los que ganaron medallas de oro
filtro_medal = df['Medal']=='Gold'
# Creamos el filtro para los que tenian mas de 40 anos
filtro_age = df['Age']> 40
# Loqueamos ambos filtros
dfnew2 = df.loc[filtro_medal & filtro_age, :]
# Verificamos los filtros y la tabla
dfnew2

,ID,Age,Height,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
740,2735,41,168.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Shooting,"Shooting Men's Rapid-Fire Pistol, 25 metres",Gold
1103,4029,46,NaN,Argentina,ARG,1936 Summer,1936,Summer,Berlin,Polo,Polo Men's Polo,Gold
1421,4993,41,180.0,Mosk II,NOR,1920 Summer,1920,Summer,Antwerpen,Sailing,Sailing Mixed 10 metres,Gold
3040,10769,49,180.0,White Lady,DEN,1964 Summer,1964,Summer,Tokyo,Sailing,Sailing Mixed Three Person Keelboat,Gold
3270,11617,44,NaN,Heroine,GBR,1908 Summer,1908,Summer,London,Sailing,Sailing Mixed 7 metres,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...
38916,130271,43,NaN,Heira II,NOR,1920 Summer,1920,Summer,Antwerpen,Sailing,Sailing Mixed 12 metres,Gold
38952,130381,42,167.0,United States,USA,1972 Summer,1972,Summer,Munich,Archery,Archery Women's Individual,Gold
39193,130936,56,NaN,United States,USA,1908 Summer,1908,Summer,London,Shooting,"Shooting Men's Running Target, Double Shot",Gold
39197,130936,60,NaN,United States,USA,1912 Summer,1912,Summer,Stockholm,Art Competitions,Art Competitions Mixed Sculpturing,Gold
39365,131533,58,NaN,Cincinnati Archers,USA,1904 Summer,1904,Summer,St. Louis,Archery,Archery Women's Team Round,Gold

In [329]:
#  Verificamos las medallas de oro que se les entregaron a los atletas que tenían más de 40 años

medalla_oro = len(dfnew2['Medal'])
print(f'Se entregaron {medalla_oro} medallas de oro a los atletas que tenian mas de 40 años')

Se entregaron 66 medallas de oro a los atletas que tenian mas de 40 años

In [330]:
# 3. Determinen la altura promedio de:

# a. Todas las filas incluidas.

# Verificamos la cantidad de Non-Null que representa y es menor al 30% de datos, lo cual nos permite modificar esa data.
validacion = df['Height'].isna().sum()/df['Height'].count()
print(f'La cantidad de datos vacios representan {validacion:.2f}% de la data total')

La cantidad de datos vacios representan 0.28% de la data total

In [331]:
# Por lo cual, procederemos a rellenar la data con la mediana
age_height = df['Height'].median()
df['Height'].fillna(age_height, inplace=True)
df.isna().sum()

ID            0
Age           0
Height        0
Team          0
NOC           0
Games         0
Year          0
Season        0
City          0
Sport         0
Event         0
Medal     34699
dtype: int64

In [332]:
# Hallamos la altura promedio: 175.29
altura_mean = df['Height'].mean()
print(f'{altura_mean:.2f} es el valor de la altura promedio de todos los atletas')

175.30 es el valor de la altura promedio de todos los atletas

In [333]:
#      b. Todas las filas incluidas, pero agrupadas por Event (evento).

df.groupby(['Event'])['Height'].mean().reset_index()

                                              Event      Height
0                      Alpine Skiing Men's Combined  177.647887
1                      Alpine Skiing Men's Downhill  177.315789
2                  Alpine Skiing Men's Giant Slalom  176.221277
3                        Alpine Skiing Men's Slalom  176.050633
4                       Alpine Skiing Men's Super G  179.137255
..                                              ...         ...
721          Wrestling Women's Flyweight, Freestyle  158.100000
722        Wrestling Women's Heavyweight, Freestyle  173.444444
723  Wrestling Women's Light-Heavyweight, Freestyle  170.000000
724        Wrestling Women's Lightweight, Freestyle  162.666667
725       Wrestling Women's Middleweight, Freestyle  164.533333

[726 rows x 2 columns]

In [334]:
#      c. Bono: Este conjunto de datos contiene muchos atletas más de una vez (si compitieron en varios eventos y/o varios años).
# Pueden confirmarlo encontrarlo .value_counts en la columna ID.
df['ID'].value_counts()

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
78467      1
78468      1
78470      1
78474      1
91368      1
Name: ID, Length: 20336, dtype: int64

In [335]:
# Para la tarea del bono queremos que obtengan la altura promedio de todos los atletas, pero sin incluir algún atleta más de una vez.
# Pista: Aprendimos cómo eliminar duplicados si CADA columna fuera idéntica, sin embargo, ahora tenemos que eliminar una fila cada vez que un ID se repite.
#Para hacer eso, pueden usar un subconjunto de sus datos como un argumento en la función drop_duplicates.  También le pueden decir a Python cuales duplicados mantener usando el argumento keep.

In [336]:
# Verificamos cuantos duplicados hay en la columna ID
df['ID'].duplicated().sum()

20280

In [337]:
df['ID'].nunique()

20336

In [338]:
# Procedemos a eliminar los duplicados
df_id = df.drop_duplicates(subset = 'ID', keep = 'first')
# Verificamos si se eliminar y mantuvieron los primeros de cada data
df_id['ID'].value_counts()

5         1
90396     1
90430     1
90425     1
90422     1
         ..
44801     1
44798     1
44797     1
44795     1
135571    1
Name: ID, Length: 20336, dtype: int64

In [339]:
#  Hallamos la altura promedio de todos los atletas
resultado = df_id['Height'].mean()
print(f'{resultado:.2f} es el valor de la altura promedio de todos los atletas')

175.99 es el valor de la altura promedio de todos los atletas